<div class="simple-editor-enclosing">
  <label ng-class="{'required-field-label': isRequired}">{{fieldLabelText}}</label>

  <div class="panel panel-default">
    <ul class="list-group">
      <li class="list-group-item simple-editor-nothing" ng-show="!anythingToShow()">This list is empty.</li>
      <li class="list-group-item list-group-item-target simple-editor-line-item">
        <div class="row">
          <div class="col-md-10 pseudotransclude">
          </div>
          <div class="col-md-2" ng-show="canEdit()">
            <button type="button" class="btn btn-danger drop-item-button pull-right list-item-delete-button"><span
              class="glyphicon glyphicon-remove"></span> Remove
            </button>
          </div>
        </div>
      </li>
      <li class="list-group-item simple-editor-final" ng-show="canEdit()">
        <nord-row>
          <button type="button" class="btn btn-default push-collection-simple-button" ng-click="addItem()"><span
            class="glyphicon glypicon-plus"></span>Add
          </button>
        </nord-row>
      </li>
    </ul>
  </div>
</div>